.html-style,
.tiptap {
  @apply c-text-base flex flex-col gap-4 text-sm;

  h1 {
    @apply mt-3 text-3xl font-bold;
  }

  h2 {
    @apply mt-3 text-2xl font-bold;
  }

  h3 {
    @apply mt-3 text-xl font-bold;
  }

  p {
    @apply text-justify leading-7;
  }

  code {
    @apply c-bg-el c-text-base rounded px-1.5 py-1 font-mono text-xs;
  }

  pre {
    @apply c-bg-el c-text-base flex-none overflow-x-auto rounded-md p-4 font-mono;
    white-space: pre !important;

    &::-webkit-scrollbar {
      display: none;
    }

    code {
      @apply rounded-none border-none bg-transparent p-0;

      .hljs-comment,
      .hljs-quote {
        color: #a0a1a7;
        font-style: italic;
      }

      .hljs-doctag,
      .hljs-keyword,
      .hljs-formula {
        color: #c44747;
      }

      .hljs-section,
      .hljs-name,
      .hljs-selector-tag,
      .hljs-deletion,
      .hljs-subst {
        color: #e45649;
      }

      .hljs-literal {
        color: #4ba0ad;
      }

      .hljs-string,
      .hljs-regexp,
      .hljs-addition,
      .hljs-attribute,
      .hljs-meta .hljs-string {
        color: #50a14f;
      }

      .hljs-attr,
      .hljs-variable,
      .hljs-template-variable,
      .hljs-type,
      .hljs-selector-class,
      .hljs-selector-attr,
      .hljs-selector-pseudo,
      .hljs-number {
        color: #907846;
      }

      .hljs-symbol,
      .hljs-bullet,
      .hljs-link,
      .hljs-meta,
      .hljs-selector-id,
      .hljs-title {
        color: #4870c0;
      }

      .hljs-built_in,
      .hljs-title.class_,
      .hljs-class .hljs-title {
        color: #c18401;
      }

      .hljs-emphasis {
        font-style: italic;
      }

      .hljs-strong {
        font-weight: bold;
      }

      .hljs-link {
        text-decoration: underline;
      }
    }
  }

  blockquote {
    @apply border-l-2 pl-3 transition-all duration-300 dark:border-zinc-600;

    p {
      @apply p-0;
    }
  }

  hr {
    @apply my-5 border-t transition-all duration-300 dark:border-zinc-600;
  }

  ul,
  ol {
    @apply pl-6;

    p {
      @apply ml-1;
    }
  }

  ul {
    @apply list-disc;

    li::marker {
      @apply text-slate-400;
    }
  }

  ul[data-type='taskList'] {
    @apply list-none pl-2;

    li {
      @apply flex;

      & > label {
        @apply mr-1 flex flex-none items-center;
      }

      & > div {
        @apply flex-auto;
      }
    }

    input[type='checkbox'] {
      background: rgb(30, 41, 59) !important;
    }
  }

  ol {
    @apply list-decimal;
  }

  img,
  video {
    @apply c-bg-el c-border-el h-auto max-w-full rounded-md;

    &[align='center'] {
      @apply mx-auto;
    }
  }

  a {
    @apply text-slate-500 transition-all duration-300 hover:text-slate-400 dark:text-slate-400 dark:hover:text-slate-500;

    &::after {
      content: '\ea6c';
      font-family: 'remixicon';

      @apply ml-1 inline-block;
    }
  }

  table {
    @apply w-full table-fixed border-separate border-spacing-0 overflow-hidden rounded-md border text-sm dark:border-zinc-600;

    td,
    th {
      @apply relative box-border border-r px-3 py-2 align-middle transition-all duration-300 last:border-r-0 dark:border-zinc-600;
    }

    th {
      @apply c-bg-el text-left font-bold;
    }

    td {
      @apply border-t dark:border-zinc-600;
    }

    p {
      @apply p-0 leading-5;
    }

    .selectedCell:after {
      @apply pointer-events-none absolute bottom-0 left-0 right-0 top-0 z-[2] bg-blue-200/[.1] content-[''];
    }
  }

  div[location] {
    @apply c-bg-el pointer-events-none h-60 w-full rounded-md;
  }

  div[address] {
    @apply c-bg-page-opacity c-text-base absolute bottom-2 left-2 h-fit max-w-[calc(100%-16px)] rounded-md px-3 py-1.5 text-justify text-xs backdrop-blur;
  }

  div[type='group'] {
    @apply no-scrollbar flex w-full items-center gap-3 overflow-auto;

    img,
    video {
      @apply h-[180px] w-auto min-w-[90px] max-w-[360px] flex-none rounded-md object-cover sm:h-[360px] sm:min-w-[180px] sm:max-w-[720px];
    }
  }
}
