@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');
@import url('./color.css');
@import url('./html.css');
@import url('./highlight.css');
@import url('./transition.css');
@import url('./tippy.css');

@tailwind utilities;

html {
  @apply c-bg-page;

  font-family: 'Asap', sans-serif;
}

input {
  @apply text-sm focus:outline-none;

  background: transparent !important;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;

    @media (prefers-color-scheme: dark) {
      -webkit-box-shadow: 0 0 0 30px rgb(30, 41, 59) inset;
      -webkit-text-fill-color: rgb(209 213 219);
    }
  }

  &[type='password']::-ms-reveal,
  &[type='password']::-ms-clear {
    display: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.btn-base {
  @apply c-bg-el-active c-text-base-2 h-8 w-8 rounded;
}

.btn-circle {
  @apply c-text-base-2 c-bg-el c-bg-el-active-2 h-12 w-12 overflow-hidden rounded-full text-xl active:scale-110;
}

.tag {
  @apply flex-none select-none rounded-md px-3 text-xs leading-7;
}
