@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');
@import url('./html.css');
@import url('./tippy.css');

html {
  font-family: 'Asap', sans-serif;
}

input {
  @apply bg-transparent text-sm focus:outline-none;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
  }

  &[type='password']::-ms-reveal,
  &[type='password']::-ms-clear {
    display: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.tag {
  @apply flex h-6 flex-none select-none items-center justify-center rounded-xl border px-3 text-xs text-gray-500;
}
