/* Move Up */
.move-up-enter-active,
.move-up-leave-active {
  transition:
    transform 0.3s,
    opacity 0.3s;
}

.move-up-enter-from,
.move-up-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

/* Move Up Center */
.move-up-center-enter-active,
.move-up-center-leave-active {
  transition:
    transform 0.3s,
    opacity 0.3s;
}

.move-up-center-enter-from,
.move-up-center-leave-to {
  transform: translate(-50%, 10px) !important;
  opacity: 0;
}

/* Move Up VH */
.move-up-vh-enter-active,
.move-up-vh-leave-active {
  transition:
    transform 0.4s,
    opacity 0.4s;
}

.move-up-vh-enter-from,
.move-up-vh-leave-to {
  transform: translateY(100vh);
  opacity: 0;
}

/* Move Left */
.move-left-enter-active,
.move-left-leave-active {
  transition:
    transform 0.2s,
    opacity 0.2s;
}

.move-left-enter-from,
.move-left-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

/* Fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Back Blur */
.back-blur-enter-active,
.back-blur-leave-active {
  transition:
    backdrop-filter 0.4s,
    background-color 0.4s;
}

.back-blur-enter-from,
.back-blur-leave-to {
  @apply bg-black/0 backdrop-blur-none !important;
}

/* List Move Up */
.list-move-up-move,
.list-move-up-enter-active,
.list-move-up-leave-active {
  transition: all 0.4s;
}

.list-move-up-enter-from,
.list-move-up-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.list-move-up-leave-active {
  position: absolute;
}

/* List Move Left */
.list-move-left-move,
.list-move-left-enter-active,
.list-move-left-leave-active {
  transition: all 0.4s;
}

.list-move-left-enter-from,
.list-move-left-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.list-move-left-leave-active {
  position: absolute;
}
